* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --main-color: #0077B6;
    --font-main-color: #F1F5F2;
    
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    height: 10rem;
    background-color: #0077B6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F5F2;
}

header .username-box {
    font-size: 20px;
    position: fixed;
    top: 150px;
    padding: 0.5rem 5rem;
    background-color: #F1F5F2;
    color: #0077B6;
    border-radius: 2rem;
}



header img {
    height: 6rem;
}

footer {
    width: 100%;
    line-height: 7rem;
    background-color: #0077B6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F5F2;
    text-align: center;
}

footer h3 {
  font-weight: 300;
}

section {
    background-color: #0077B6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63.6vh;
    flex: 1;
    flex-direction: column;
}

.generator-box {
    padding: 1rem;
    background-color: #F1F5F2;
    border-radius: 2rem;
}


/*-==--==--==--==- GENERATOR PAGE -==--==--==--==-*/
.back-arrow {
    color: #F1F5F2;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 50px;
    left: 60px;
    border-radius: 2rem;
}


#field_pass, #field_title, #login_field {
    color: #0077B6;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    border-radius: 30px;
    font-size: 1rem;
    border: 2px solid #0077B6;
    text-align: center;
    width: 18rem;
    height: 1.5rem;
}

.generator-label {
    color: #004970;
}


#lenght {
    width: 2rem;
    font-size: 1rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 2px solid #0077B6;
}

#generate_password {
    background-color: #0077B6;
    color: #F1F5F2;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#generate_password:hover, #save_key:hover{
    transform: scale(1.05);
}

.title_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#save_key {
    background-color: #0077B6;
    color: #F1F5F2;
    outline: none;
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/*-==--==--==--==- END -==--==--==--==-*/





/*-==--==--==--==- GENERAL -==--==--==--==-*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #F1F5F2;
    font-size: 1.2rem;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    font-size: 1rem;
    width: 300px;
    height: 2.5rem;
    text-align: center; 
}

.btn {
    width: 15rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #F1F5F2;
    color: #0077B6;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    transition: all .3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-size: 1.5rem;

}

.btn:hover {
    background-color: #004970;
    color: #F1F5F2;
    transform: translateY(2px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

a {
    border: none;
    outline: none;
    text-decoration: none;
}

span {
    text-decoration: none;
    font-size: 20px;
    color: #0077B6;
    font-weight: 400;
    background-color: #F1F5F2;
    transition: all .2s ease-in-out;
    padding: 1rem;
    border-radius: 2rem;
}

span:hover, .plus-btn:hover {
    text-decoration: none;
    color: #F1F5F2;
    font-weight: 400;
    background-color: #004970;
    padding: 1rem;

}

/*-==--==--==--==- END -==--==--==--==-*/




/*-==--==--==--==- REGISTER PAGE -==--==--==--==-*/

.register-button, .login-button {
    position: absolute;
    right: 60px;
    top: 40px
}

.logout-button span {
    position: absolute;
    right: 60px;
    top: 50px;
}


/*-==--==--==--==- END -==--==--==--==-*/

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

.message {
    display: none;
    position: fixed;
    top: 4rem;
    left: 7rem;

    width: auto;
    background-color: #02c39a;

    padding: 1rem;
    align-items: center;
    justify-content: center;

    color: #F1F5F2;
    border-radius: 1rem;
    border:2px solid #00a896;

    transform: translateX(-50%);

    animation: fadeInOut 4s ease-in-out;
}



.error {
    display: none;
    position: fixed;
    top: 4rem;
    left: 7rem;

    width: auto;
    background-color: #ef233c;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #F1F5F2;
    border-radius: 1rem;
    border:2px solid #d90429;   

    transform: translateX(-50%);

    animation: fadeInOut 4s ease-in-out;
}



/*-==--==--==--==- BOARD NAV -==--==--==--==-*/

.board {
    background-color: #0077B6;
    list-style-type: none;
    max-height: 475px;
    overflow-y: auto;
    width: 100%;
}

.msg-without-key{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #F1F5F2;
    font-weight: 100;
}

.plus-btn {
    font-size: 50px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50px;
    left: 60px;
    font-family: 'Arial';
    border: none;
    outline: none;
    color: #0077B6;
    position: absolute;
}

.info-key-bx:first-child{
    margin-top: 2rem;
}

.info-key-bx:last-child{
    margin-bottom: 2rem;
}

.info-key-bx {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    margin-right: 10px;
}

.info-key-body {
    margin: 1rem;
    background-color: #ffffff;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.info-key-body:hover {
    transform: scale(1.02);
}

.info-key-bttns {
    display: flex;
    margin-top: 1rem;
    right: 30px;

}

.info-key-btn{
    height: 25px; 
    width: 25px;  
    background-color: #0077B6;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 2rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}

.info-key-btn:hover {
    transform: scale(1.05);
    
}

.info-key-btn img {
    height: 100%;
    width: 100%;  
}

.info-key-title {
    font-size: 20px;
    color: #0077B6;
}

.info-key-login {
    text-align: center;
    background-color: #0077B6;
    width: 95%;
    padding: 0.5rem;
    color: #F1F5F2;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 12px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
  }
  
/*-==--==--==--==- END -==--==--==--==-*/